<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Etmazec.com</title>
</head>
<link rel="stylesheet" href="/public/css/main.css">
<body>

</body>
</html>

<h1>ETMAZEC HomePage</h1>

<nav>
	<ul>
		<li><a href="/home">HOME PAGE</a>
		<li><a href="/albums">ALBUMS</a>
		<li><a href="/tophits">TOP HITS</a>
	</ul>
</nav>
